.cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 90vw;
}

.nav {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  height: 12.5rem;
}

.empty_msg {
  font-family: sans-serif;
  font-size: 2rem;
}

/* .fav_products_container {
    margin: 5rem;
  } */
.product_cart {
  height: 150px;
  width: 1400px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.product_photo-cart {
  height: 100px;
  width: 100px;
}

.product_name_cart,
.product_price_cart {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}

.product_brand_cart {
  margin: 0px;
}

.product_details_cart {
  margin-left: 50px;
}

.numberOfProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  position: absolute;
  left: 895px;
}

.numberOfProducts button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.568);
}
.total_product_price {
  position: absolute;
  right:350px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}
.delete{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 275px;
  cursor: pointer;

}

.total_container {
  text-align: right;
  position: relative;
  right: 50px;
  margin-bottom: 50px;
}

.total_container p {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.total_container button {
  position: relative;
  left: -550px;
  background-color: rgba(235, 102, 124, 0.699);
  width: 200px;
  font-family: sans-serif;
  font-size: 20px;
}

.total_container button:hover {
  background-color: rgb(235, 102, 124);
  border: 1px solid rgb(235, 102, 124);
}

.empty_div {
  margin-bottom: 5.5rem;
}

.billing_header {
  margin: 30px;
  font-family: sans-serif;
  font-size: 25px;
}

.checkout_container {
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 229, 229);
  opacity: 1;
  position: relative;
  top: -800px;
  left: 350px;
  height: 700px;
  width: 900px;
  border-radius: 30px;
}
/* rgb(255, 205, 213); */
.form_checkout {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_checkout input {
  width: 350px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 0.5px solid rgb(180, 180, 180);
}

.form_checkout label {
  font-family: sans-serif;
  font-size: 18px;
}

.payment_container {
  position: relative;
  left: 50px;
  top: 110px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  
  width: 1000px;
}

.payment_header {
  font-family: sans-serif;
  font-size: 20px;
}
.payment_container button,
.shipping_container button {
  margin: 10px;
}

.payment_container button:focus {
  background-color: rgb(235, 102, 124, 0.699);
  border: 0.5px solid rgb(235, 102, 124, 0.699);
}

.shipping_container {
  position: relative;
  left: 10px;
  top: 110px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
}

.shipping_header {
  font-family: sans-serif;
  font-size: 20px;
}

.shipping_form {
  width: 200px;
  justify-content: center;
}

.shipping_form input {
  margin-bottom: 15px;
  margin-top: 20px;
}

.close_btn {
  position: relative;
  left: 820px;
  top: 35px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.confirm button{
  position: relative;
  top: 600px;
  left: -480px;
  height: 50px;
  width: 300px;
  background-color: rgb(235, 102, 124, 0.699);
  font-family: sans-serif;
  font-size: 18px;
}
.confirmation_container{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 229, 229);
  opacity: 1;
  position: relative;
  top: -1500px;
  left: 350px;
  height: 700px;
  width: 900px;
  border-radius: 30px;
}


.confirm_header{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
text-decoration: underline;
margin-bottom: 30px;
}

.confirmation_container .confirm_details{
  font-family: sans-serif;
  font-size: 20px;
 
}


.confirmation_msg{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 30px;
}

