.productPage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 90vw;
  height: 75rem;
}

.product-detail {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2.5rem;
  margin-bottom: 5rem;
}

.product_sec1 img {
  height: 31.25rem;
  width: 25rem;
  border: 0.0625rem solid grey;
}

.product_sec2 .desc {
  font-family: sans-serif;
  font-size: 0.9375rem;
  width: 37.5rem;
}

.product_sec2 {
  width: 25rem;
  font-family: sans-serif;
  font-size: 1.875rem;
}

.product_sec2 p {
  font-family: sans-serif;
  font-size: 1.25rem;
}

.product_sec2 button {
  width: 9.375rem;
  height: 6.25rem;
  border: 0.0625rem solid grey;
  margin: 1.25rem;
}

.product-detail .star {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.product-detail .cart {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
