.Nav_Container {
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  left: -3.5rem;
}

.home_btn,
.fav_btn,
.cart_btn {
  width: 1.5625rem;
  height: 1.5625rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.home_btn:hover,
.fav_btn:hover,
.cart_btn:hover {
  transform: scale(1.4);
  opacity: 0.8;
}

.num_product_cart {
  position: absolute;
  top: -0.5rem;
  left: 8.75rem;
  height: 0.9375rem;
  width: 0.9375rem;
  border: 0.0625rem solid grey;
  border-radius: 50%;
  font-size: 0.625rem;
}

.num_product_fav {
  position: absolute;
  top: -0.5rem;
  left: 5.3125rem;
  height: 0.9375rem;
  width: 0.9375rem;
  border: 0.0625rem solid grey;
  border-radius: 50%;
  font-size: 0.625rem;
}
