.signup_container{
    padding: 1.25rem;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width: 90vw;
}

.signup_form{
    position: relative;
    left:420px;
    top: -250px;
display: flex;
flex-direction: column;
background-color: white;
width: 50vw;
height: 625px;
padding-top: 80px;
border-radius: 50px;
}

.signup_form input{
    width: 500px;
    height: 50px;
    margin: 20px;
    position: relative;
    left: 220px;
    border:1px solid rgba(128, 128, 128, 0.527);
    border-radius: 10px;
}

.signup_form label{
    position: relative;
    left: 0px;
    font-family: sans-serif;
    font-size: 20px;
}

.signup_form button{
    position: relative;
    left:420px;
    width: 150px;
    background-color: rgba(128, 128, 128, 0.404);
}

.signup_form button:hover{
    background-color: grey;
    border: 1px solid grey;
    }

.signUp_header{
    position: relative;
    top:-300px;
    left: 50px;
font-family: sans-serif;
font-size: 35px;
}
.logo_container{
    position: relative;
    top: -50px;
    left: 100px;
}