.signup_container {
  padding: 1.25rem;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 90vw;
}

.signup_form {
  position: relative;
  left: 26.25rem;
  top: -15.625rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50vw;
  height: 39.0625rem;
  padding-top: 5rem;
  border-radius: 3.125rem;
}

.signup_form input {
  width: 31.25rem;
  height: 3.125rem;
  margin: 1.25rem;
  position: relative;
  left: 13.75rem;
  border: 0.0625rem solid rgba(128, 128, 128, 0.527);
  border-radius: 0.625rem;
}

.signup_form label {
  position: relative;
  left: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
}

.signup_form button {
  position: relative;
  left: 26.25rem;
  width: 9.375rem;
  background-color: rgba(128, 128, 128, 0.404);
}

.signup_form button:hover {
  background-color: grey;
  border: 0.0625rem solid grey;
}

.signUp_header {
  position: relative;
  top: -18.75rem;
  left: 3.125rem;
  font-family: sans-serif;
  font-size: 2.1875rem;
}

.logo_container {
  position: relative;
  top: -3.125rem;
  left: 6.25rem;
}

@media (max-width: 768px) {
  .signup_container {
    width: 80vw;
  }
  .signup_form {
    width: 100%;
    position: relative;
    left: 0rem;
    top: -0.8rem;
  }

  .signup_form input {
    width: 70%;
    position: relative;
    left: 2rem;
  }
.signup_form button{
  position: relative;
  left: 6.5rem;
}
  .signUp_header {
    font-size: 1.5rem;
    margin-top: 1rem;
    position: relative;
    top: -2rem;
    left: -0.4rem;
  }
  .logo_container{
    position: relative;
    left: 0.8rem;
    top: 1rem;
  }
}
